<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>クイズ作成</h1>
  <form method="post">
    問題：<input type="text" name="question" value="{{ quiz.question if quiz else '' }}"><br>
    答え：<input type="text" name="answer" value="{{ quiz.answer if quiz else '' }}"><br>
    <input type="submit" value="保存">
  </form>

  <a href="/list">一覧へ</a>
</body>
</html>